---
name: test
on:
  - push
jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: extractions/setup-just@v3
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - run: go install github.com/pressly/goose/v3/cmd/goose@latest
      - run: docker compose up --wait
      - run: goose -dir migrations postgres "postgres://postgres:postgres@127.0.0.1:5432/pgsql?sslmode=disable" up
      - run: go run cmd/cli/main.go
